
<!-- Toolbar -->
<div class="toolbar" role="banner">

  <div style="padding-left: 5px; padding-right: 5px;">
    <svg class="toolbar-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
      <path d="M38 896v-94q0-35 18-63.5t50-42.5q73-32 131.5-46T358 636q62 0 120 14t131 46q32 14 50.5 42.5T678 802v94H38Zm700 0v-94q0-63-32-103.5T622 633q69 8 130 23.5t99 35.5q33 19 52 47t19 63v94H738ZM358 575q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42Zm360-150q0 66-42 108t-108 42q-11 0-24.5-1.5T519 568q24-25 36.5-61.5T568 425q0-45-12.5-79.5T519 282q11-3 24.5-5t24.5-2q66 0 108 42t42 108ZM98 836h520v-34q0-16-9.5-31T585 750q-72-32-121-43t-106-11q-57 0-106.5 11T130 750q-14 6-23 21t-9 31v34Zm260-321q39 0 64.5-25.5T448 425q0-39-25.5-64.5T358 335q-39 0-64.5 25.5T268 425q0 39 25.5 64.5T358 515Zm0 321Zm0-411Z"/>
    </svg>
  </div>

  <span >{{title}}</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <div class="card-container">
    <label class="custom-file-upload card card-small">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M452 854h60V653l82 82 42-42-156-152-154 154 42 42 84-84v201ZM220 976q-24 0-42-18t-18-42V236q0-24 18-42t42-18h361l219 219v521q0 24-18 42t-42 18H220Zm331-554V236H220v680h520V422H551ZM220 236v186-186 680-680Z"/></svg>
      <input
        type="file"
        name="file_employees"
        id="file_employees"
        data-cy="employees"
        accept="text/csv"
        (change)="importFile($event)"
        ng-click="clear()"
        #file_employees/>
        Load employees
   </label>
  </div>

   <div class="row" *ngIf="projects.length > 1">

    <div scope="col" *ngFor="let project of projects">
    <br/>

    <table class="table table-striped table-sm small" aria-describedby="page-heading">
      <thead>
        <tr>
          <th>Employee ID #1</th>
          <th>Employee ID #2</th>
          <th>Project ID</th>
          <th>Days worked</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ employeesByProjects[project][0].empId }}</td>
          <td>
            <div *ngIf="employeesByProjects[project][1]">
              {{ employeesByProjects[project][1].empId }}
            </div>
          </td>
          <td>{{ employeesByProjects[project][0].projectId }}</td>
          <td>{{ employeesByProjects[project][0].daysWorked }}</td>
        </tr>
      </tbody>
    </table>
    </div>

  </div>


</div>
